@charset "UTF-8";
/*Colors*/
/*
@mixin computer-only {
    @media screen and (max-width: map-get($breakpoints, computer)){
        @content;
   }
}

@mixin pad-only {
    @media screen and (max-width: map-get($breakpoints, pad)){
        @content;
   }
}
*/
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

#bloc_page {
  max-width: 430px;
  margin: 0 0;
}

a {
  text-decoration: none;
  background: #fff;
  color: #000;
  background: none;
}

footer {
  background: #333;
  color: #FFF;
}

@media only screen and (min-width: 1310px) {
  #bloc_page {
    max-width: 1310px;
    margin: auto auto;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  #bloc_page {
    width: 100%;
    max-width: 1309px;
    margin: 0;
  }
}
h4 {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
}

header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > nav {
  width: 100%;
}
header > nav > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header > nav > a > img {
  width: 50%;
}

.logo_welcomepage {
  width: 50%;
}

.back_cross {
  margin: 0 55px 0 10px;
}
.back_cross > i {
  font-size: 25px;
}

@media only screen and (min-width: 1310px) {
  header {
    height: 210px;
  }
  header > nav > a > img {
    width: 30%;
  }

  .logo_welcomepage {
    width: 40%;
  }

  .back_cross {
    margin: 0 430px 0 10px;
  }
  .back_cross > i {
    font-size: 33px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  header {
    height: 175px;
  }
  header > nav > a > img {
    width: 25%;
  }

  .logo_welcomepage {
    width: 35%;
  }

  .back_cross {
    margin: 0 245px 0 10px;
  }
  .back_cross > i {
    font-size: 25px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer > h4 {
  padding-left: 15px;
  font-weight: unset;
  font-size: 20px;
  margin: 10px 0 5px 0;
}
footer > nav > ul {
  padding: 0 0 0 15px;
}

li {
  margin: 10px 0;
  list-style-type: none;
}
li > a {
  color: white;
}
li > a > i {
  width: 10px;
  margin-right: 15px;
}

@media only screen and (min-width: 1310px) {
  footer {
    align-items: center;
  }
  footer > h4 {
    font-size: 25px;
    margin: 10px 0 0 0;
  }
  footer > nav {
    width: 95%;
    margin-bottom: 15px;
  }
  footer > nav > ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }

  li {
    width: 270px;
    margin: 0 0;
    font-size: 20px;
    text-align: center;
  }
  li > a > i {
    width: 10px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  footer {
    align-items: center;
  }
  footer > h4 {
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  footer > nav {
    width: 95%;
    margin-bottom: 15px;
  }
  footer > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }

  li {
    width: 170px;
    margin: 0 0;
    font-size: 14px;
    text-align: center;
  }
  li > a > i {
    width: 5px;
    font-size: 15px;
  }
}
.img {
  background-size: cover;
  background-position: center center;
}

.img img {
  display: none;
}

.img_palette {
  background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img_note {
  background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img_alafr {
  background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img_delice {
  background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.fa-heart {
  font-size: 30px;
  opacity: 1;
}

.fa-heart-full {
  opacity: 0;
  transform: translateY(-31px);
}
.fa-heart-full:hover {
  opacity: 1;
  color: #8662a7;
  transition-duration: 2.5s;
}
.fa-heart-full:active {
  opacity: 1;
  color: blueviolet;
  transition-duration: 2.5s;
}

#loader_animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
#loader_animation h1 {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
}
#loader_animation > .loader_border {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  animation: spin 3s linear infinite;
}
#loader_animation > .loader_border:before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  animation: spin 4s linear infinite;
}
#loader_animation > .loader_border:after {
  content: "";
  position: absolute;
  top: -75px;
  left: -75px;
  right: -75px;
  bottom: -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: blueviolet;
  animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.search_field {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #eaeaea;
}

.search_container {
  width: 100%;
  height: 50px;
  box-shadow: 0px -4px 3px #d5d5d5;
}

.loca-icone {
  padding-left: 120px;
  font-size: 16px;
}

#search_box {
  width: 50%;
  height: 100%;
  background-color: #eaeaea;
  border: 0;
  padding-left: 10px;
  font-size: 16px;
}
#search_box:focus {
  outline: none;
}

@media only screen and (min-width: 1310px) {
  .search_field {
    height: 90px;
  }
  .search_field > form {
    height: 90px;
  }
  .search_field > form > .loca-icone {
    font-size: 27px;
    margin: 0 30px 0 500px;
    padding-left: 0;
  }
  .search_field > form > #search_box {
    font-size: 27px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  .search_field {
    height: 80px;
  }
  .search_field > form {
    height: 80px;
  }
  .search_field > form > .loca-icone {
    font-size: 25px;
    margin: 0 30px 0 115px;
  }
  .search_field > form > #search_box {
    font-size: 25px;
  }
}
.discovery_topic {
  height: 300px;
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.discovery_topic > p {
  text-align: center;
  width: 95%;
  font-size: 20px;
  margin: 0px 5px 20px 5px;
  color: #5a5151;
}
.discovery_topic > button {
  height: 50px;
  width: 220px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 1px 2px 2px #5a5151;
}
.discovery_topic > button:focus {
  outline: none;
}

h1 {
  text-align: center;
  font-weight: 600;
  width: 100%;
  font-size: 25px;
  margin: 30px 0 10px 0;
}

@media only screen and (min-width: 1310px) {
  .discovery_topic {
    height: 420px;
  }
  .discovery_topic > p {
    width: 95%;
    font-size: 30px;
    margin: 20px 5px 20px 5px;
  }
  .discovery_topic > h1 {
    font-size: 35px;
    margin-top: 45px;
  }
  .discovery_topic > button {
    height: 70px;
    width: 300px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  .discovery_topic {
    height: 360px;
  }
  .discovery_topic > p {
    width: 95%;
    font-size: 25px;
    margin: 20px 5px 20px 5px;
  }
  .discovery_topic > h1 {
    font-size: 30px;
    margin-top: 45px;
  }
  .discovery_topic > button {
    height: 60px;
    width: 250px;
    font-size: 20px;
  }
}
.operation {
  display: flex;
  flex-direction: column;
}
.operation > h2 {
  margin-left: 7px;
}

.operation_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.operation_list > button {
  margin: 10px 0;
  width: 320px;
  height: 75px;
  font-size: 16px;
  border-radius: 30px;
  text-align: left;
  border: none;
  color: black;
  font-weight: bolder;
}
.operation_list > button:active {
  background-color: #f5edff;
}
.operation_list > button:active > i {
  color: #9356DC;
}
.operation_list > button:focus {
  outline: none;
}
.operation_list > button:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.operation_list > button:hover > i {
  color: #9356DC;
}
.operation_list > button > i {
  margin: 0 15px 0 0px;
  font-size: 20px;
  color: #706565;
}

.operation_list_number {
  padding: 5px 8px 5px 8px;
  font-size: 13px;
  background-color: #9356DC;
  border-radius: 100%;
  margin: 0 10px 0 -17px;
  color: white;
}

@media only screen and (min-width: 1310px) {
  .operation > h2 {
    font-size: 27px;
    margin-left: 20px;
  }

  .operation_list {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .operation_list > button {
    width: 350px;
    height: 85px;
    font-size: 20px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  .operation > h2 {
    font-size: 27px;
  }

  .operation_list {
    margin-bottom: 30px;
  }
  .operation_list > button {
    width: 330px;
    height: 85px;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
  }
}
.card_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f6f6f6;
}
.card_section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_section > div > article {
  width: 90%;
  height: 250px;
  background-color: white;
  box-shadow: 1px 1px 13px #d2d2d2;
  margin: 0px 10px 25px 10px;
  border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
}

.img_card {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0px 0px;
}
.img_card > .tag_news {
  float: right;
  text-align: center;
  margin-right: 10px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #008766;
}

.card_text {
  margin-left: 20px;
}
.card_text > p {
  margin: 10px 0px 0px 5px;
  height: 10px;
}
.card_text > h3 {
  margin: 20px 0 3px 5px;
  height: 10px;
}
.card_text > div {
  float: right;
  width: 15px;
  margin-right: 30px;
}

@media only screen and (min-width: 1310px) {
  .card_section > h2 {
    margin-left: 20px;
  }
  .card_section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 900px;
  }
  .card_section > div > article {
    width: 45%;
    height: 350px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 350px;
  }

  .img_card {
    height: 300px;
  }
  .img_card > .tag_news {
    margin-right: 30px;
    font-size: 20px;
    padding: 10px 15px;
  }

  .card_text > p {
    font-size: 19px;
    margin-top: 19px;
  }
  .card_text > h3 {
    font-size: 25px;
  }
  .card_text > div {
    width: 25px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  .card_section > h2 {
    margin-left: 20px;
  }
  .card_section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 700px;
  }
  .card_section > div > article {
    width: 45%;
    height: 300px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .img_card {
    height: 250px;
  }
  .img_card > .tag_news {
    margin-right: 25px;
    font-size: 15px;
    padding: 8px 10px;
  }

  .card_text > p {
    font-size: 17px;
    margin-top: 19px;
  }
  .card_text > h3 {
    font-size: 22px;
  }
  .card_text > div {
    width: 25px;
    margin-right: 30px;
  }
}
.img_menu {
  height: 335px;
  width: 100%;
  margin-bottom: -80px;
}

.menu_section {
  background-color: #f6f6f6;
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
  width: 100%;
  height: auto;
}
.menu_section > .name_restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 40px;
}
.menu_section > .name_restaurant > h1 {
  text-align: start;
  margin-left: 20px;
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 27px;
  padding-top: 25px;
  width: 300px;
  margin: 0;
}
.menu_section > .name_restaurant > div {
  margin-top: 54px;
  width: 20px;
}
.menu_section > .name_restaurant > div > i {
  font-size: 25px;
}
.menu_section > .name_restaurant > div > .fa-heart-full {
  margin-top: 3px;
}
.menu_section > div > article > .menu_title {
  font-size: 15px;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.menu_section > div > article > .menu_title > .title_underline {
  padding-bottom: 5px;
  border-bottom: #99E2D0 3px solid;
}
.menu_section > div > article > .menu_lane {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  /*animation: 1.35s ease-out 0s 1 slide;*/
}
.menu_section > div > article > .menu_lane:hover .check_animation {
  opacity: 1;
  width: 20%;
}
.menu_section > div > article > .menu_lane:hover .fa-check-circle {
  transition-duration: 1s;
  transform: rotate(360deg);
  opacity: 1;
}
.menu_section > div > article > .menu_lane:active .check_animation {
  opacity: 1;
  width: 20%;
}
.menu_section > div > article > .menu_lane:active .fa-check-circle {
  transition-duration: 1s;
  transform: rotate(360deg);
  opacity: 1;
}
.menu_section > div > article > .menu_lane > .menu_text {
  background-color: white;
  box-shadow: 1px 1px 10px #c3c0c0;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 15px;
  width: 90%;
  border-radius: 15px 15px 15px 15px;
}
.menu_section > div > article > .menu_lane > .menu_text:hover {
  width: 75%;
  transition-duration: 1s;
}
.menu_section > div > article > .menu_lane > .menu_text > h3 {
  width: 80%;
  margin: 15px 0 0 10px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_section > div > article > .menu_lane > .menu_text > p {
  margin: -12px 0 0 10px;
  font-size: 15px;
  font-weight: lighter;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_section > div > article > .menu_lane > .menu_text > span {
  width: 20px;
  float: right;
  margin: -12px 0 0 0;
  position: relative;
}
.menu_section > div > article > .menu_lane > .menu_text > span > .menu_rate {
  margin: 0;
}

#menu_text_height {
  height: 100px;
}

#check_animation_height {
  height: 100px;
}

.check_animation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
  font-size: 25px;
  height: 85px;
  width: 0;
  opacity: 0;
  margin-left: -20px;
  border-radius: 0px 15px 15px 0px;
}
.check_animation > i {
  transform: rotate(90deg);
  opacity: 0;
}

#container_btn-older {
  height: 120px;
  width: 100%;
  margin-bottom: 0;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container_btn-older > .older {
  height: 45px;
  width: 200px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  margin: auto auto;
  border: none;
  font-size: 16px;
  box-shadow: 1px 2px 2px #5a5151;
}

@media only screen and (min-width: 1310px) {
  .menu_section > .name_restaurant > h1 {
    font-size: 35px;
    width: 370px;
  }
  .menu_section > .name_restaurant > div {
    width: 25px;
  }
  .menu_section > .name_restaurant > div > i {
    font-size: 30px;
  }
  .menu_section .menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_section > div > article {
    width: 33%;
    height: 400px;
  }
  .menu_section > div > article > .menu_title {
    font-size: 23px;
    margin-left: 30px;
  }
  .menu_section > div > article > .menu_lane > .menu_text > h3 {
    margin: 15px 0 0 10px;
    font-size: 20px;
  }
  .menu_section > div > article > .menu_lane > .menu_text > p {
    font-size: 16px;
    width: 80%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1309px) {
  .menu_section > .name_restaurant > h1 {
    font-size: 30px;
    width: 350px;
  }
  .menu_section > .name_restaurant > div {
    width: 25px;
  }
  .menu_section > .name_restaurant > div > i {
    font-size: 28px;
  }
  .menu_section .menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .menu_section > div > article {
    width: 80%;
  }
  .menu_section > div > article > .menu_title {
    font-size: 20px;
    margin-left: 20px;
  }
  .menu_section > div > article > .menu_lane > .menu_text > h3 {
    font-size: 18px;
  }
  .menu_section > div > article > .menu_lane > .menu_text > p {
    font-size: 16px;
  }
}
#slide_1 {
  animation: 1.35s ease-in 0.3s slide;
  -webkit-animation: 1.35s ease-in 0.3s slide;
}

#slide_2 {
  animation: 1.35s ease-in 0.6s slide;
  -webkit-animation: 1.35s ease-in 0.6s slide;
}

#slide_3 {
  animation: 1.35s ease-in 0.9s slide;
  -webkit-animation: 1.35s ease-in 0.9s slide;
}

#slide_4 {
  animation: 1.35s ease-in 1.2s slide;
  -webkit-animation: 1.35s ease-in 1.2s slide;
}

#slide_5 {
  animation: 1.35s ease-in 1.5s slide;
  -webkit-animation: 1.35s ease-in 1.5s slide;
}

#slide_6 {
  animation: 1.35s ease-in 1.8s slide;
  -webkit-animation: 1.35s ease-in 1.8s slide;
}

#slide_7 {
  animation: 1.35s ease-in 2.2s slide;
  -webkit-animation: 1.35s ease-in 2.2s slide;
}

#slide_8 {
  animation: 1.35s ease-in 2.5s slide;
  -webkit-animation: 1.35s ease-in 2.5s slide;
}

#slide_9 {
  animation: 1.35s ease-in 2.8s slide;
  -webkit-animation: 1.35s ease-in 2.8s slide;
}

#slide_10 {
  animation: 1.35s ease-in 3.1s slide;
  -webkit-animation: 1.35s ease-in 3.1s slide;
}

@keyframes slide {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
