//colors

@mixin dc($color) { 
    background: $color;
    color: text($color);
  }

//animation menu   
@keyframes slide {
    0% {
      transform: translateY(100%);
      opacity: 0;
}
    100% {
      transform: translateY(0);
      opacity: 1;
      
    }
}
//breakpoint
/*
@mixin computer-only {
    @media screen and (max-width: map-get($breakpoints, computer)){
        @content;
   }
}

@mixin pad-only {
    @media screen and (max-width: map-get($breakpoints, pad)){
        @content;
   }
}
*/