/*Colors*/
$Primary:#9356DC;
$Secondary:#FF79DA;
$Tertiary:#99E2D0;
$bg: #fff;
$tagnewsbg:rgb(153, 226, 208);
$tagnewstext:rgb(0, 135, 102);
$bgsection:rgb(246,246,246);


//breakpoint
$computer:1310px;
$pad:1080px;