.menu_section {
    background-color: $bgsection;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: auto;

    &>.name_restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin-bottom: 40px;

        &>h1 {
            text-align: start;
            font-family: 'Shrikhand';
            font-weight: normal;
            font-size: 27px;
            padding-top: 25px;
            width:270px;
            margin: 0;

        }

        &>div {
            margin-top: 54px;
            width: 20px;

            &>i {
                font-size: 25px;
            }

            &>.fa-heart-full {
                margin-top: 3px;
            }
        }
    }

    &>div>article {

        &>.menu_title {
            font-size: 15px;
            font-weight: normal;
            margin-left: 7%;
            margin-top: 30px;
            margin-bottom: 15px;

            &>.title_underline {
                padding-bottom: 5px;
                border-bottom: $Tertiary 3px solid;

            }

        }

        &>.menu_lane {
            background-color: white;
            cursor: pointer;
            width: 90%;
            display: flex;
            align-items: center;
            margin: 20px 0 0 20px;
            border-radius: 15px;
            // cache le background pour le border radius de l'animation check
            overflow: hidden;
            box-shadow: 1px 1px 10px #c3c0c0;


            &:hover,&:active {
                & .check_animation {
                    width: 25%;
                }

                & .menu_rate {

                    width: 40px;
                }

                & .menu_text {
                    width: calc(100% - 25%
                            /* 25% check_animation width */
                            - 40px
                            /* menu_rate width */
                        
                        );

                }

                & i {
                    transition-duration: 1s;
                    transform: rotate(360deg);
                    opacity: 1;
                }
            }

            



            &>.menu_text {
                height: 85px;
                display: flex;
                flex-wrap: wrap;
                width: calc(100% - 50px);
                border-radius: 15px 0 0 15px;
                transition: 1s;



                &>h3 {
                    width: 100%;
                    margin: 15px 0 0 10px;
                    font-size: 18px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &>p {
                    margin: -12px 0 0 10px;
                    font-size: 15px;
                    font-weight: lighter;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

            }
        }
    }
}

.menu_rate {
    width: 50px;
    padding-top: 28px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 15px;
    transition: 1s;


}

.check_animation {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $Tertiary;
    font-size: 25px;
    height: 85px;
    width: 0;
    transition: 1s;

    &>i {
        transform: rotate(90deg);
        opacity: 0;
    }
}


#container_btn-older {

    height: 120px;
    width: 100%;
    margin-bottom: 0;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &>.older {
        height: 45px;
        width: 200px;
        color: white;
        background: linear-gradient($Secondary, $Primary);
        border-radius: 25px;
        margin: auto auto;
        border: none;
        font-size: 16px;
        box-shadow: 1px 2px 2px rgb(90, 81, 81);

        &:hover{
            opacity: 0.9;
            box-shadow: 2px 4px 4px rgb(151, 142, 142);
        }
        &:active{
            opacity: 0.9;
            box-shadow: 2px 4px 4px rgb(151, 142, 142);
        }
    }
}

@media only screen and (min-width: $computer) {


    .menu_section {

        &>.name_restaurant {

            &>h1 {
                font-size: 35px;
                width: 370px;
            }

            &>div {
                width: 25px;

                &>i {
                    font-size: 30px;
                }

            }
        }

        .menu_list {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &>div>article {

            width: 33%;
            height: 400px;

            &>.menu_title {
                font-size: 23px;
                margin-left: 30px;
            }

            &>.menu_lane {

                &>.menu_text {
                    &>h3 {
                        margin: 15px 0 0 10px;
                        font-size: 20px;
                    }

                    &>p {
                        font-size: 16px;
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $pad) and (max-width: $computer - 1px) {

    .menu_section {

        &>.name_restaurant {

            &>h1 {
                font-size: 30px;
                width: 350px;
            }

            &>div {
                width: 25px;

                &>i {
                    font-size: 28px;
                }

            }
        }

        .menu_list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }

        &>div>article {

            width: 80%;

            &>.menu_title {
                font-size: 20px;
                margin-left: 20px;
            }

            &>.menu_lane {

                &>.menu_text {
                    &>h3 {
                        font-size: 18px;
                    }

                    &>p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}