footer{
    display: flex;
    flex-direction:column ;
    width:100%;

    &>h4{
        padding-left: 15px;
        font-weight: unset;
        font-size: 20px;
        margin: 10px 0 5px 0;
    }
    &>nav>ul{
        padding: 0 0 0 15px;
    }
}


li{
    margin:10px 0;
    list-style-type: none;
    &>a{
        color: white;
        &>i{
            width: 10px;
            margin-right: 15px;
        }
    }
}

@media only screen and (min-width: $computer) {

    footer{
        align-items: center;
        
        &>h4{
            font-size: 25px;
            margin: 10px 0 0 0;
        }
        &>nav{
            width: 95%;
            margin-bottom: 15px;
            &>ul{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            margin-top: 5px;
            }
        }
    }


    li{
        width: 270px;
        margin:0 0;
        font-size: 20px;
        text-align: center;
        &>a{
            &>i{
                width: 10px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: $pad) and (max-width: $computer - 1px) {

    footer{
        align-items: center;
        
        &>h4{
            font-size: 20px;
            margin: 10px 0 0 0;
        }
        &>nav{
            width: 95%;
            margin-bottom: 15px;
            &>ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: 5px;
            }
        }
    }


    li{
        width: 170px;
        margin:0 0;
        font-size: 14px;
        text-align: center;
        &>a{
            &>i{
                width: 5px;
                font-size: 15px;
            }
        }
    }
}