footer{
    display: flex;
    flex-direction:column ;
    width:100%;

    &>h4{
        padding-left: 15px;
        font-weight: unset;
        font-size: 20px;
        margin: 10px 0 5px 0;
    }
    &>nav>ul{
        padding: 0 0 0 15px;
    }
}


li{
    margin:10px 0;
    list-style-type: none;
    &>a{
        color: white;
        &>i{
            width: 10px;
            margin-right: 15px;
        }
    }
}

