.menu_section{
    background-color: $bgsection;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    width:100%;
    height: auto;

    &>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin-bottom: 40px;

        &>h1{
            text-align: start;
            margin-left: 20px;
            font-family: 'Shrikhand';
            font-weight: normal;
            font-size: 27px;
            padding-top: 25px;
            width: 300px;
            margin: 0;
            
            }
        &>div{
            margin-top: 54px;
            width: 20px;
            &>i{
                font-size: 25px;
                }
            &>.fa-heart-full{
                margin-top: 3px;
            }
            }
    }
    
    &>article{

        &>.menu_title{
            font-size: 15px;
            font-weight: normal;
            margin-left: 10px;
            font-size: 15px;
            margin-top: 30px;
            margin-bottom: 15px;

            &>.title_underline{
                padding-bottom: 5px;
                border-bottom: $Tertiary 3px solid;
                
            }

        }
        &>.menu_lane{
            cursor: pointer;
            width:100%;
            display: flex;
            align-items: center;
            margin: 20px 0;
            animation: 1.35s ease-out 0s 1 slide;

            &:hover{
                & .check_animation{
                    opacity: 1;
                    width: 20%;   
                }

                & .fa-check-circle{
                    transition-duration: 1s;
                    transform: rotate(360deg);
                    opacity: 1;                   
                }
            }
        
            
            
            &>.menu_text{
                background-color: white;
                box-shadow: 1px 1px 10px rgb(195, 192, 192);
                height: 85px;
                display: flex;
                flex-wrap: wrap;
                margin:0 0 0 15px;
                width: 90%;
                border-radius: 15px 15px 15px 15px;
                
                &:hover{
                    width: 75%;
                    transition-duration: 1s;
                }
                &>h3{
                    width: 80%;
                    margin: 15px 0 0 10px;
                    font-size: 18px;
                    overflow: clip;
                    white-space:nowrap;
                    text-overflow: ellipsis;
                }

                &>p{
                    margin: -12px 0 0 10px;
                    font-size: 15px;
                    font-weight: lighter;
                    width: 75%;
                    overflow: clip;
                    white-space:nowrap;
                    text-overflow: ellipsis; 
                }

                &>span{
                    width: 20px;
                    float: right;
                    margin: -12px 0 0 0;
                    position: relative;

                    &>.menu_rate{
                        margin: 0;
                    }
                }
            }
        }
    }     
}

#menu_text_height{
    height: 100px;
}

#check_animation_height{
    height: 100px;
}

.check_animation{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $Tertiary;
    font-size: 25px;
    height: 85px;
    width: 0;
    opacity: 0;
    margin-left: -20px;
    border-radius: 0px 15px 15px 0px;

    &>i{transform: rotate(90deg);
        opacity: 0;
    }
}


#container_btn-older{

    height: 120px;
    width: 100%;
    margin-bottom: 0;
    margin-top: -20px;
}
.older{
    height: 45px;
    width: 200px;
    color: white;
    background: linear-gradient($Secondary,$Primary);
    border-radius: 25px;
    margin: auto auto;
    border: none;
    font-size: 16px;
    box-shadow: 1px 2px 2px rgb(90, 81, 81);
}
