/*boucle des id de slide 1 à 10 effectuer par la variable {$i}*/

@for $i from 1 through 10 {
    #slide_#{$i} {
        opacity: 0;
        animation-name: slide;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-delay: 0.3s * $i;
        animation-fill-mode: forwards;
    }
}


@keyframes slide {
    0% {
        opacity: 0%;
        transform: translateY(100%);

    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}