#slide_1{
    animation: 1.35s ease-in 0.3s  slide;
    -webkit-animation: 1.35s ease-in 0.3s  slide;
}
#slide_2{
    animation: 1.35s ease-in 0.6s  slide;
    -webkit-animation: 1.35s ease-in 0.6s  slide;
}
#slide_3{
    animation: 1.35s ease-in 0.9s  slide;
    -webkit-animation: 1.35s ease-in 0.9s  slide;
}
#slide_4{
    animation: 1.35s ease-in 1.2s  slide;
    -webkit-animation: 1.35s ease-in 1.2s  slide;
}
#slide_5{
    animation: 1.35s ease-in 1.5s  slide;
    -webkit-animation: 1.35s ease-in 1.5s  slide;
}
#slide_6{
    animation: 1.35s ease-in 1.8s  slide;
    -webkit-animation: 1.35s ease-in 1.8s  slide;
}
#slide_7{
    animation: 1.35s ease-in 2.2s  slide;
    -webkit-animation: 1.35s ease-in 2.2s  slide;
}
#slide_8{
    animation: 1.35s ease-in 2.5s  slide;
    -webkit-animation: 1.35s ease-in 2.5s  slide;
}
#slide_9{
    animation: 1.35s ease-in 2.8s  slide;
    -webkit-animation: 1.35s ease-in 2.8s  slide;
}
#slide_10{
    animation: 1.35s ease-in 3.1s  slide;
    -webkit-animation: 1.35s ease-in 3.1s  slide;
}

@keyframes slide {
    from {
      transform: translateY(100%);
      opacity: 0;
}
    to {
      transform: translateY(0);
      opacity: 1;
      
    }
}